.u-section-1 .u-sheet-1 {
  min-height: 639px;
}

.u-section-1 .u-text-1 {
  margin: 93px auto 0;
}

.u-section-1 .u-list-1 {
  width: 893px;
  margin: 100px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 203px;
  grid-template-columns: calc(25% - 54.75px) calc(25% - 54.75px) calc(25% - 54.75px) calc(25% - 54.75px);
  grid-gap: 73px 73px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 20px 50px;
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 36.5px) calc(50% - 36.5px);
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}