.u-section-1 .u-sheet-1 {
  min-height: 267px;
}

.u-section-1 .u-text-1 {
  margin: 93px auto 0;
}

.u-section-1 .u-list-1 {
  width: 893px;
  margin: 65px auto 60px 123px;
}

.u-section-1 .u-repeater-1 {
  min-height: 65px;
  grid-template-columns: calc(25% - 54.75px) calc(25% - 54.75px) calc(25% - 54.75px) calc(25% - 54.75px);
  grid-gap: 73px 73px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 36.5px) calc(50% - 36.5px);
    min-height: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}